* {
	border: none;
	border-radius: 0;
    font-family: FontAwesome, Roboto ,Montserrrat, Helvetica,Arial, sans-serif;
    font-size: 12px;
    min-height: 24px;
}

#clock {
	color: #4d4d4d;
    background-color: #ffb7c5;
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 25px;
	transition: none;
}

#clock.time {
	margin-left: 8px ;
}

#clock.day {
	margin-right: 0px;
}

#window {
	margin-top: 4px;
	margin-left: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
	margin-right: 12px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 4px;
	border-radius: 25px;
	transition: none;
	color: #4d4d4d;
    background-color: #ffb7c5;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(20, 21, 22, 0.671);
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#memory,
#cpu,
#wireplumber,
#networking
#custom-weather {
    margin-left: 7px;
	margin-right: 7px;
}

#wireplumber {
    margin-right: 8px;
    margin-left: 0;
}

#image.album {
    margin-top: 4px;
	margin-bottom: 4px;
    margin-left: 3px;
	margin-right: 3px;
}

#mpris {
    padding-left: 10px;
}

.modules-right {
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 25px;
	transition: none;
	color: #4d4d4d;
    background-color: #ffb7c5;
}

#workspaces button {
	background-color: #ffb7c5;
	border: none;
	color: #e5e5e2;
	margin-top: 4px;
	margin-left: 6px;
	margin-right: 6px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 7px;
	transition: all ease-in-out 0.5s;
}

#workspaces button.active {
	background-color: #FF9DB0;
	color: #e5e5e2;
	font-weight: bold;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #e5e5e2;
	font-style: italic;
}

#custom-spacer2 {
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

#custom-spacer3 {
	margin-left: 10px;
	margin-right: 7px;
	margin-top: 0;
	margin-bottom: 0;
}